body
{
	padding: 0px;
	margin: 0px;
}



#navigation h1
{
    background-color: red;
    color: white;
    margin: 0px;
    padding: 50px;
}

.navigationMenu li
{
    list-style: none;
    float: left;
    margin-right: 0px;
    border: 1px solid white;
    padding: 50px;
    background-color: blueviolet;
    margin-top: 20px;
}


.navigationMenu li a
{
    color: white;

}

.phone
{
    margin-top: 70px;
    font-size: 25px;
    margin-left: 30px;
}

.about .company-about
{
    margin-top: 20px;
}


.aboutContent
{
    margin-top: 50px;
}
 

.WhatWeDo-Desc
{
    background-color: cornflowerblue;
    width: 100%;
    height: 150px;
    margin-top: 60px;
}


.WhatWeDo-Desc h1
{
    background-color: cornflowerblue;
    width: 100%;
    margin-top: 40px;
}


#whatWeDo #wwd
{
    text-align: center; 
    padding: 80px; 
    padding-bottom: 20px;
}
